{
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "no-plusplus": "off",
    "eol-last": "off",
    "no-underscore-dangle": "off",
    "radix": ["error", "as-needed"],
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "import/prefer-default-export": "off",
    "import/no-dynamic-require": "off",
    "import/no-unresolved": [
      2,
      { "caseSensitive": false }
    ],
    "func-names": "off",
    "linebreak-style": ["error", "unix"],
    "global-require": "off",
    "quote-props": ["error", "consistent"],
    "no-confusing-arrow": "off",
    "no-param-reassign": ["error", { "props": false }],
    "object-curly-newline": "off",
    "no-use-before-define": "off",
    "curly": "error",
    "nonblock-statement-body-position": ["error", "below"],
    "brace-style": ["error", "1tbs"],
    "newline-per-chained-call": "off",
    "operator-linebreak": ["error", "before", { "overrides": { "=": "after" } }],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "never", "prev": "*", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": ["block", "block-like", "return", "multiline-expression", "import", "export"] },
      { "blankLine": "always", "prev": ["block", "block-like", "return", "multiline-expression", "import", "export"], "next": "*" },
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*"},
      { "blankLine": "always", "prev": "*", "next": ["const", "let", "var"]},
      { "blankLine": "never", "prev": ["const", "let", "var"], "next": ["const", "let", "var"]},
      { "blankLine": "always", "prev": ["import"], "next": "*"},
      { "blankLine": "always", "prev": "*", "next": ["import"]},
      { "blankLine": "never", "prev": ["import"], "next": ["import"]}
    ],
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [2, { "extensions": [".jsx", ".tsx"] }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {},
      "webpack": {}
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  }
}