@import '/../../assets/css/variables/header.css';
@import '/../../assets/css/variables/custom-media.css';

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    display: flex;
    flex: auto;
  }

  &__article {
    max-width: 800px;
    padding: 40px;
    margin: 0 auto;
  }

  &__sidebar {
    box-sizing: border-box;
    flex: none;
    order: -1;
    width: 250px;
    background: #f5f2f0;
    border-right: 1px solid #d5d2d0;
  }

  &__sidebar-box {
    position: sticky;
    top: var(--header-height);
    left: 0;
    box-sizing: border-box;
    height: calc(100vh - var(--header-height));
    padding: 40px 25px;
    overflow-y: auto;
  }

  &__sidebar-group {
    & + & {
      margin-top: 40px;
    }
  }
}

/*
@media (--desktop) {
  .layout {

  }
}
*/