@import '/../../helpers/css/variables/bg.css';
@import '/../../helpers/css/variables/header.css';
@import '/../../helpers/css/variables/custom-media.css';

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__article {
    max-width: 800px;
    margin: 0 auto;
  }

  &__sidebar {
    box-sizing: border-box;
    width: 250px;
    background: var(--light-gray-color);
    border-right: 1px solid var(--gray-color);
  }

  &__sidebar-box {
    position: sticky;
    top: var(--header-height);
    left: 0;
    box-sizing: border-box;
    height: calc(100vh - var(--header-height));
    padding: 40px 25px;
    overflow-y: auto;
  }

  &__sidebar-group {
    & + & {
      margin-top: 40px;
    }
  }
}

@media (--mobile) {
  .layout {
    &__sidebar {
      position: fixed;
      top: var(--header-height);
      right: 100vw;
      transition-duration: 150ms;
    }

    &__sidebar_active {
      transform: translateX(100%);
    }

    &__article {
      padding: 10px;
    }
  }
}

@media (--desktop) {
  .layout {
    &__main {
      display: flex;
      flex: auto;
    }

    &__sidebar {
      flex: none;
      order: -1;
    }

    &__article {
      padding: 40px;
    }
  }
}