@import '/../../helpers/css/variables/link.css';

.search {
  &__form {
    position: relative;
    height: 34px;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 14px;
    width: 17px;
    height: 100%;

    &::before {
      position: absolute;
      top: 7px;
      left: 0;
      display: block;
      width: 12px;
      height: 12px;
      content: '';
      border: 1px solid var(--link-color);
      border-radius: 50%;
    }

    &::after {
      position: absolute;
      bottom: 7px;
      left: 12px;
      display: block;
      width: 2px;
      height: 8px;
      content: '';
      background-color: var(--link-color);
      transform: rotate(-35deg);
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 6px 42px;
    font-size: 14px;
    line-height: 20px;
    background-color: transparent;
    border: 1px solid var(--link-disabled-color);
  }

  &__loading {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    display: none;
    width: 37px;
    height: 100%;
    padding: 8px 14px 8px 5px;
  }

  &__loading_active {
    display: block;
    font-size: 14px;
  }
}